body {
  margin: 0;
  padding: 0;
}

.message_body {
  background-color: #b2b2b2;
  padding: 20px;
  margin: inherit;
}

.message {
  background-color: #ededed;
  margin: 0% 5% 0% 5%;
  padding: 15px;
  border-bottom: 15px solid #969696;
}

.content {
  background-color: blue;
  margin: auto;
  margin: 10% 20% 10% 20%;
}

.message_field {
  font-family: Helvetica;
  font-size: 20px;
  overflow:auto;
  resize: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  height: 80%;
  width: 50%;
  border-radius: 15px;
  border: none;
  padding: 15px;
  -webkit-box-shadow: 10px 10px 27px -7px rgba(0,0,0,0.67);
  -moz-box-shadow: 10px 10px 27px -7px rgba(0,0,0,0.67);
  box-shadow: 10px 10px 27px -7px rgba(0,0,0,0.67);
}
